include *.png
include *.wav
include *.csv
include measure_horseshoe_bat_calls/*.csv
include measure_horseshoe_bat_calls/data/*
include docs/*.png
include docs/*.bat
include docs/*.txt
include docs/Makefile
include docs/source/*.py
include docs/source/*.rst

